.jumbotron {
  padding-top: 5rem;
  background-color: #a2d9ff;
}

#projects {
  background-color: #a2d9ff;
}

section {
  padding-top: 5rem;
}

.my-alert .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
}
